# Xcode
*.xcuserdata
*.xcworkspace
xcuserdata/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

# Build
build/
*.o
*.LinkFileList
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
Pods/

# Swift Package Manager
.swiftpm/

# macOS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# Temporary files
*.swp
*.tmp
/tmp/
